apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: NodePort # Para acceder desde fuera en Killercoda
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30000 # Puerto fijo para facilitar pruebas
  selector:
    app: api-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-server
  template:
    metadata:
      labels:
        app: api-server
    spec:
      containers:
      - name: api-server
        # IMAGEN DE DOCKER HUB
        image: jukhg/primos-distribuidos:v1 
        command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
        env:
        - name: REDIS_HOST
          value: "redis-service"
        - name: MONGO_HOST
          value: "mongo-service"
